:root {
    --primary-color: #161d27; 
    --secondary-color: #a19975;
    --light-color: #ffffff;  
}

body{
    font-family: 'Bebas Neue', cursive;
font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    color: var(--primary-color);
    letter-spacing: 0,5cm;
    
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.text-light{ color: var(--light-color);}
.bg-primary{background-color: var(--primary-color) !important;}

.navbar {
    min-height: 80px;
}

.nav-link {
    color: var(--light-color);
    font-weight: bold !important;
}


a {
    color: var(--light-color);
    font-weight: bold;
}

a:hover {
    color: var(--light-color);
    opacity: .9;
    text-decoration: none;
}

section {
    padding: 100px 0;
}

#hero {
    font-size: 26px;
}

.btn {
    font-weight: 600;
    /* padding: 12px 35px 12px 35px; */
    padding: 12px 35px;
    /* padding: 12px; */
}

/* .list-inline-item > a{
    font-size: smaller;
} */

.iconos{
    font-size: smaller;
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--light-color);
    border: 1px solid var(--secondary-color);
    /* border: 4px dotted  red; */
    /* border: 4px double var(--secondary-color); */
}

.btn-secondary:hover {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.main-photo {
    border: 10px solid var(--light-color);
    border-radius: 2px;
    box-shadow: -10px 10px 0 0 var(--secondary-color);
}